<html>
  <head>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <title><%= title %></title>
  </head>
  <body>
    <div class="container jumbotron" align="center">
      <h3>Painel de controle baby</h3>
    </div>

      </div>
      <script src="jquery/dist/jquery.min.js">
      </script>
      <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js">

      </script>
  </body>
</html>
