<div class="nav-side-menu">
    <div class="brand">Menu</div>
    <li class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></li>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Tecnologias <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li data-toggle="collapse" data-target="#ericsson" class="collapsed active" ><a href="#">Ericsson</a></li>
                    <ul class="sub-menu collapse" id="ericsson">
                        <li class="collapsed" ><a id="cadEricsson" href="#" class="cadastrarEricsson">-Cadastrar circuito individual</a></li>
                        <li class="collapsed"><a id="conEricsson" href="#" class="consultarEricsson">-Pesquisar</a></li>
                    </ul>
                    <li data-toggle="collapse" data-target="#huawei" class="collapsed active"><a href="#">Huawei</a></li>
                    <ul class="sub-menu collapse" id="huawei">
                        <li class="collapsed" ><a id="cadHuawei" class="cadastrarHuawei" href="#">-Cadastrar</a></li>
                        <li class="collapsed"><a class="consultarHuawei" href="#">-Pesquisar</a></li>
                    </ul>
                </ul>
                <li data-toggle="collapse" data-target="#service" class="collapsed"></li>
          </div>
  </div>
