<div class="nav-side-menu">
    <div class="brand">Menu</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-cog  fa fa-fw"></i> Perfil
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-cog  fa fa-fw"></i> Cadastrar Afetação </a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a class="divAfetacao" data-element="#afetacaoEricsson" >Ericsson MGC</a></li>
                    <li><a   class="divAfetacao" data-element="#afetacaoHuaweiGtw">Huawei MSOFTX3000 / UMG8900</a></li>
                    <li><a   class="divAfetacao" data-element="#afetacaoPts">PTS HUAWEI</a></li>
                </ul>
                <li>
                  <a href="#">
                  <i class="fa fa-pencil fa-fw"></i> Fale conosco
                  </a>
                </li>
            </ul>
     </div>
</div>
