<div class="container col-md-3 col-md-offset-5">
  <form class="control-group" action="afetacaoEricssonCadastrar" method="post">
    <table>
      <tr>
        <td><label for="mgc" class="label label-default">MGC:</label></td>
        <td><input type="text" name="mgc" maxlength="7" class="form-control" placeholder="EX:MGCBFEB" ></td>
      </tr>
      <tr>
        <td><label for="mgw" class="label label-default">MGW:</label></td>
        <td><input type="text" name="mgw" maxlength="7" class="form-control" placeholder="EX:MWCBFEB" ></td>
      </tr>
      <tr>
        <td><label for="rota" class="label label-default">ROTA:</label></td>
        <td><input type="text" name="rota" maxlength="7" class="form-control" placeholder="EX:BCBFEEI/O" ></td>
      </tr>
      <tr>
        <td><label for="opc" class="label label-default">OPC:</label></td>
        <td><input type="number" name="opc" maxlength="7" class="form-control" placeholder="3-16631" ></td>
      </tr>
      <tr>
        <td><label for="dpc" class="label label-default">MGC:</label></td>
        <td><input type="number" name="dpc" maxlength="7" class="form-control" placeholder="3-5083" ></td>
      </tr>
    </table>
    <br>
    <div class="container col-md-3 col-md-offset-5">
      <input type="submit" value="cadastrar" class="btn btn-secondary">
    </div>
  </form>
</div>
