<form action="/afetacaoEricssonConsultar" method="post">
  <table>
    <tr>
      <td><label for="mgc" class="label label-default">MGC:</label></td>
      <td><input type="text" name="mgc" maxlength="7" class="form-control"  placeholder="EX:MGCBFEB" ></td>
    </tr>
    <tr>
      <td><label for="mgw" class="label label-default">MGW:</label></td>
      <td><input type="text" name="mgw" maxlength="7" class="form-control" placeholder="EX:MWCBFEB" ></td>
    </tr>
    <tr>
      <td><label for="rota" class="label label-default">ROTA:</label></td>
      <td><input type="text" name="rota" maxlength="12" class="form-control" placeholder="EX:BCBFEEI/O" ></td>
    </tr>
    <tr>
      <td><label for="opc" class="label label-default">OPC:</label></td>
      <td><input type="text" name="opc" maxlength="7" class="form-control" placeholder="EX:3-16631" ></td>
    </tr>
    <tr>
    <td><label for="dpc" class="label label-default">DPC:</label></td>
    <td><input type="text" name="dpc" maxlength="7" class="form-control" placeholder="EX:3-5083" ></td>
    </tr>
    <tr>
      <td><label for="snt" class="label label-default">SNT MSC:</label></td>
      <td><input type="text" name="snt" maxlength="12" class="form-control" placeholder="EX:RTDMA-2265" ></td>
    </tr>
    <tr>
      <td><label for="idRota" class="label label-default">ID ROTA/LD:</label></td>
      <td><input type="number" name="idRota" maxlength="20" class="form-control" placeholder="EX:123786" ></td>
    </tr>
  </table>
  <br>
  <div class="container col-md-3">
    <input type="submit" value="Consultar" class="btn btn-secondary">
  </div>
</form>
